# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db

# Ignore API sensitive configuration files
/API/appsettings.json
/API/appsettings.Development.json
/API/*.env

# .NET build artifacts
API/obj/
API/bin/

# Client build artifacts
client/dist/
client/tmp/
client/node_modules/

# NuGet packages
*.nupkg
packages/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# SQLite database files
*.db*

# Visual Studio solution settings
.vs/

# Ignore package.json and Angular dependencies in the deps folder
client/.angular/
API/frizer.db
.tsbuildinfo
_metadata.json
client/.angular/cache/19.1.6/client/.tsbuildinfo
client/.angular/cache/19.1.6/client/vite/deps/_metadata.json
client/.angular/cache/19.1.6/client/vite/deps_ssr/_metadata.json

# Angular cache (recursive)
client/.angular/cache/
client/.angular/cache/19.1.6/

